/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 8rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.adjectives {
  @apply mt-[-0.55em];
  animation: animation 12s infinite;
}

.animation {
  vertical-align: sub;
  height: 1em;
  overflow: hidden;
  display: inline-block;
  line-height: 2em;
}

@keyframes animation {
  0% {
    margin-top: -0.55em;
  }
  12.5% {
    margin-top: -2.54em;
  }
  25% {
    margin-top: -4.55em;
  }
  37.5% {
    margin-top: -6.55em;
  }
  50% {
    margin-top: -8.5em;
  }
  62.5% {
    margin-top: -6.55em;
  }
  75% {
    margin-top: -4.55em;
  }
  87.5% {
    margin-top: -2.54em;
  }
  100% {
    margin-top: -0.55em;
  }
}