@tailwind base;
@tailwind components;
@tailwind utilities;

/* wix-madefor-text-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Wix Madefor Text';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/wix-madefor-text-v12-latin_latin-ext-regular.woff2')
    format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* wix-madefor-text-italic - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Wix Madefor Text';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/wix-madefor-text-v12-latin_latin-ext-italic.woff2')
    format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* wix-madefor-text-500 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Wix Madefor Text';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/wix-madefor-text-v12-latin_latin-ext-500.woff2')
    format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* wix-madefor-text-500italic - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Wix Madefor Text';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/wix-madefor-text-v12-latin_latin-ext-500italic.woff2')
    format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* wix-madefor-text-600 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Wix Madefor Text';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/wix-madefor-text-v12-latin_latin-ext-600.woff2')
    format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* wix-madefor-text-600italic - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Wix Madefor Text';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/wix-madefor-text-v12-latin_latin-ext-600italic.woff2')
    format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* wix-madefor-text-700 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Wix Madefor Text';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/wix-madefor-text-v12-latin_latin-ext-700.woff2')
    format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* wix-madefor-text-700italic - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Wix Madefor Text';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/wix-madefor-text-v12-latin_latin-ext-700italic.woff2')
    format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* wix-madefor-text-800 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Wix Madefor Text';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/wix-madefor-text-v12-latin_latin-ext-800.woff2')
    format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* wix-madefor-text-800italic - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Wix Madefor Text';
  font-style: italic;
  font-weight: 800;
  src: url('/fonts/wix-madefor-text-v12-latin_latin-ext-800italic.woff2')
    format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-code-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/fira-code-v21-latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 .btn {
  @apply flex text-black dark:text-white px-4 py-2 rounded-md;
  @apply transition-colors;
}

.btn:hover {
  @apply no-underline;
}

.btn.btn-primary {
  @apply bg-blue-700 text-white;
}

.btn-thin {
  @apply py-2 text-sm;
}

.btn.btn-primary:hover {
  @apply bg-blue-800;
}

.btn.btn-secondary {
  @apply bg-purple-700 text-white;
}

.btn.btn-secondary:hover {
  @apply bg-purple-800;
}

.btn.btn-outline {
  @apply bg-transparent;
}

.btn.btn-outline:hover {
  @apply underline;
}

/* You can override the default Infima variables here. */
:root {
  /* Fluvio Color Palette */

  /* Shades of Fluvio Logo Color */
  --fluvio-800: #2A1B3D;
  --fluvio-600: #412E69;
  --fluvio-400: #44318D;
  --fluvio-200: #7D67A3;

  --green-800: #1D4249;
  --green-400: #3B945E;
  --green-200: #57BA98;

  --ocean-400: #495890;

  --red-400: #D54344;

  --rose-400: #D83F87;

  --slate-200: #A4B3B6;

  --white: #FFFFFF;

  --ifm-color-primary: var(--fluvio-400);
  --ifm-color-primary-dark: var(--fluvio-200);
  --ifm-color-primary-darker: var(--fluvio-600);
  --ifm-color-primary-darkest: var(--fluvio-800);
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: var(--fluvio-200);
  --ifm-color-primary-dark: var(--fluvio-400);
  --ifm-color-primary-darker: var(--fluvio-600);
  --ifm-color-primary-darkest: var(--fluvio-800);
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

body {
  @apply font-body;
}

code {
  @apply font-mono;
}

h1,
h2,
h3 {
  @apply font-body;

  font-weight: 600;
}

